.first-section {
    background-image: url("../img/white-background.png");
    background-color: #f9f8fb;
    background-size: 100%;
    background-repeat: no-repeat;
    max-width: 1500px;
    height: 100%;
    max-height: 1000px;
    margin: 0 auto;

    .first-section__header-menu {
        display: flex;
        justify-content: space-between;

        .first-section__header-menu_header-text {
            width: 100%;
            max-width: 127px;
            height: 52px;
            color: #262626;
            font-family: 'Pacifico', cursive;
            font-size: 50px;
            font-weight: 400;
            line-height: 25px;
            text-align: left;
            margin-left: 165px;
            margin-top: 50px;
        }

        .first-section__header-menu_menu {
            width: 100%;
            max-width: 757px;
            height: 12px;
            color: #262626;
            font-family: Raleway;
            font-size: 16px;
            font-weight: 700;
            line-height: 25px;
            text-align: center;
            text-transform: uppercase;
            margin-right: 94px;
            margin-top: 60px;
            cursor:pointer;

            & {
                
                li {
                    display: inline;
                    margin-left: 40px;

                    &:hover  {
                        border-top: 3px solid #ff6033;
                        padding-top: 8px;
                    }
                }
            }
        }

    }


    .first-section__container {
        margin-top: 300px;
        margin-left: 164px;

        .first-section__container_large-text {
            width: 100%;
            max-width: 387px;
            height: 46px;
            color: #262626;
            font-family: "Raleway";
            font-size: 60px;
            font-weight: 900;
            line-height: 25px;
            text-align: left;
        }

        .first-section__container_main-text {
            width: 100%;
            max-width: 368px;
            height: 70px;
            color: #262626;
            font-family: Raleway;
            font-size: 17px;
            font-weight: 300;
            line-height: 27px;
            text-align: left;
            margin-top: 40px;
        }

        .first-section__container_button {
            width: 100%;
            max-width: 200px;
            height: 55px;
            background-color: #ff6033;
            color: #ffffff;
            font-family: Raleway;
            font-size: 20px;
            font-weight: 300;
            line-height: 55px;
            text-align: center;
            text-transform: uppercase;
            cursor:pointer;
            margin-top: 30px;
            position: relative; 
            transition: all 600ms ease-out; 
            transform-style: preserve-3d;

            &:after { 
                content: 'GET FREE NOW'; 
                position: absolute; 
                top: -50%;
                left: 0px;
                width: 100%; 
                background: #835ab3;
                transform-origin: bottom; 
                transform: translateY(0%) rotateX(90deg); 
            }

            &:hover { 
                transform-origin: bottom; 
                transform: translateY(0%) rotateX(-90deg); 
            }
        }

       
    }

    .first-section__container_scroll {
        margin: 0px auto;
        background-image: url("../img/scroll.png");
        background-repeat: no-repeat;
        background-size: 100%;
        max-width: 20px;
        height: 40px;
        padding-bottom: 100px;
        margin-top: 100px;
         
    }


}

@media screen and (max-width: 1800px) {
    .first-section {
        width: 100%;
        max-width: 1500px;
    }
}
  
@media screen and (max-width: 1199px) {
    .first-section {
        width: 100%;
        max-width: 1199px;

        .first-section__header-menu {
    
            .first-section__header-menu_header-text {
                margin-left: 135px;
            }

            .first-section__header-menu_menu {
                margin-right: 64px;
               
            }
        }

        .first-section__container {
            margin-left: 135px;
        }
    }
}
  
@media screen and (max-width: 991px) {
    .first-section {
        width: 100%;
        max-width: 991px;

        .first-section__header-menu {
    
            .first-section__header-menu_header-text {
                margin-left: 35px;
            }

            .first-section__header-menu_menu {
                margin-right: 10px;

                & {
                
                    li {
                        display: inline;
                        margin-left: 20px;
                    }
                }
               
            }
        }

        .first-section__container {
            margin-left: 35px;
        }
    }        
}
  
@media screen and (max-width: 767px) {
    .first-section {
        width: 100%;
        max-width: 767px;  
    }
               
}

      
    
    

  
@media screen and (max-width: 575px) {
    .first-section {
        width: 100%;
        max-width: 575px;
        background-image: none;

        .first-section__header-menu {
    
            .first-section__header-menu_header-text {
                font-size: 40px;
            }
    
        }
    
    
        .first-section__container {
            margin-top: 160px;
    
            .first-section__container_large-text {
                font-size: 40px;
            }
    
            .first-section__container_main-text {
                font-size: 16px;
                margin-top: 20px;
            }
    
            .first-section__container_button {
                margin-top: 60px;
                margin-bottom: 90px;
            } 
        }
    
    }

    .first-section__container_scroll {
        padding-bottom: 50px;
        margin-top: 50px;     
    }
    
}














    