.sixth-section {
    width: 100%;
    max-width: 1500px;
    height: 864px;
    background-color: #b07cf7;
    margin: 0 auto;

    .sixth-section__header {
        h1 {
            color: #ffffff;
            font-family: 'Raleway', sans-serif;
            font-size: 90px;
            font-weight: 700;
            line-height: 25px;
            text-align: center;
            padding-top: 100px;
        }

        p {
            width: 100%;
            max-width: 563px;
            height: 66px;
            color: #ffffff;
            font-family: 'Raleway', sans-serif;
            font-size: 16px;
            font-weight: 300;
            line-height: 25px;
            text-align: center;
            margin: 0 auto;
            padding-top: 60px;
        }

    }

    .sixth-section__pictures_date{
        width: 100%;
        max-width: 60px;
        height: 60px;
        border-radius: 5px;
        background-color: rgba(38, 38, 38, 0.5);
        color: #ffffff; 
        font-family: 'Raleway', sans-serif;
        font-size: 32px;
        font-weight: 700;
        line-height: 25px;
        text-align: center;
        padding-top: 5px;
        margin-left: 20px;
    }

    .sixth-section__pictures_text {
        width: 100%;
        max-width: 328px;
        height: 78px;
        color: #ffffff;
        font-family: 'Raleway', sans-serif;
        font-size: 20px;
        font-weight: 700;
        line-height: 25px;
        text-align: left;
        margin-top: 120px;
        margin-left: 10px;
    }

    .sixth-section__pictures_author {
        color: #ffffff;
        font-family: 'Raleway', sans-serif;
        font-size: 13px;
        font-weight: 300;
        margin-top: -30px;
        margin-left: 10px;
    }

    .sixth-section__pictures_info {
        padding: 20px 10px;
    }

    .sixth-section__pictures {
        display: flex;
        justify-content: space-evenly;
        margin-top: 70px;
    }

    .sixth-section__pictures_apples {
        background-image: url("../img/apples.png");
        background-repeat: no-repeat;
        background-size: 100%;
    }

    .sixth-section__pictures_peases {
        background-image: url("../img/peases.png");
        background-repeat: no-repeat;
        background-size: 100%;
    }

    .sixth-section__pictures_raspberries {
        background-image: url("../img/raspberries.png");
        background-repeat: no-repeat;
        background-size: 100%;
    }

    .sixth-section__footer {
        color: #ffffff;
        font-family: Raleway;
        font-size: 20px;
        font-weight: 300;
        line-height: 60px;
        text-align: center;
        text-transform: uppercase;
        width: 100%;
        max-width: 180px;
        height: 55px;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
        background-color: #f72b3b;
        padding: 5px;
        margin-left: auto;
        margin-right: auto;
        position: relative;
        top: 90px;
        cursor: pointer;

        &:hover {
            background-color: turquoise;
            transform: scale(1.2);
        }
    }
}

@media screen and (max-width: 1500px) {
    .sixth-section {
        width: 100%;
        max-width: 1500px;
    }
}

@media screen and (max-width: 1199px) {
    .sixth-section {
        width: 100%;
        max-width: 1199px;

        .sixth-section__pictures_apples {
            background-image: url("../img/apples.png");
            background-repeat: no-repeat;
            background-size: 95%;
        }
    
        .sixth-section__pictures_peases {
            background-image: url("../img/peases.png");
            background-repeat: no-repeat;
            background-size: 95%;
        }
    
        .sixth-section__pictures_raspberries {
            background-image: url("../img/raspberries.png");
            background-repeat: no-repeat;
            background-size: 95%;
        }

        .sixth-section__pictures_date{
            width: 100%;
            max-width: 60px;
            height: 60px;
            border-radius: 5px;
            background-color: rgba(38, 38, 38, 0.5);
            color: #ffffff; 
            font-family: 'Raleway', sans-serif;
            font-size: 32px;
            font-weight: 700;
            line-height: 25px;
            text-align: center;
            padding-top: 5px;
            margin-left: 20px;
        }
    
        .sixth-section__pictures_text {
            width: 100%;
            max-width: 258px;
            height: 78px;
            color: #ffffff;
            font-family: 'Raleway', sans-serif;
            font-size: 18px;
            font-weight: 700;
            line-height: 25px;
            text-align: left;
            margin-top: 70px;
            margin-left: 10px;
        }
    
        .sixth-section__pictures_author {
            color: #ffffff;
            font-family: 'Raleway', sans-serif;
            font-size: 13px;
            font-weight: 300;
            margin-top: -30px;
            margin-left: 10px;
        }
    

        
    }
}

@media screen and (max-width: 991px) {
    .sixth-section {
        width: 100%;
        max-width: 991px;
        height: 750px;

        .sixth-section__pictures_apples {
            background-image: url("../img/apples.png");
            background-repeat: no-repeat;
            background-size: 95%;
            margin-left: 10px;
        }
    
        .sixth-section__pictures_peases {
            background-image: url("../img/peases.png");
            background-repeat: no-repeat;
            background-size: 95%;
        }
    
        .sixth-section__pictures_raspberries {
            background-image: url("../img/raspberries.png");
            background-repeat: no-repeat;
            background-size: 95%;
        }

        .sixth-section__pictures_date{
            width: 100%;
            max-width: 50px;
            height: 50px;
            border-radius: 5px;
            background-color: rgba(38, 38, 38, 0.5);
            color: #ffffff; 
            font-family: 'Raleway', sans-serif;
            font-size: 25px;
            font-weight: 700;
            line-height: 25px;
            text-align: center;
            padding-top: 5px;
            margin-left: 15px;
        }
    
        .sixth-section__pictures_text {
            width: 100%;
            max-width: 238px;
            height: 78px;
            color: #ffffff;
            font-family: 'Raleway', sans-serif;
            font-size: 18px;
            font-weight: 700;
            line-height: 25px;
            text-align: left;
            margin-top: 60px;
            margin-left: 10px;
        }
    
        .sixth-section__pictures_author {
            color: #ffffff;
            font-family: 'Raleway', sans-serif;
            font-size: 13px;
            font-weight: 300;
            margin-top: -30px;
            margin-left: 10px;
        }
    }
}

@media screen and (max-width: 767px) {
    .sixth-section {
        width: 100%;
        max-width: 767px;
        height: 580px;

        .sixth-section__header {
            h1 {
                color: #ffffff;
                font-family: 'Raleway', sans-serif;
                font-size: 50px;
                font-weight: 700;
                line-height: 25px;
                text-align: center;
                padding-top: 50px;
            }
    
            p {
                width: 100%;
                max-width: 563px;
                height: 66px;
                color: #ffffff;
                font-family: 'Raleway', sans-serif;
                font-size: 16px;
                font-weight: 300;
                line-height: 25px;
                text-align: center;
                margin: 0 auto;
                padding-top: 60px;
            }
    
        }

        .sixth-section__pictures_apples {
            background-image: url("../img/apples.png");
            background-repeat: no-repeat;
            background-size: 95%;
            margin-left: 10px;
        }
    
        .sixth-section__pictures_peases {
            background-image: url("../img/peases.png");
            background-repeat: no-repeat;
            background-size: 95%;
        }
    
        .sixth-section__pictures_raspberries {
            background-image: url("../img/raspberries.png");
            background-repeat: no-repeat;
            background-size: 95%;
        }

        .sixth-section__pictures_date{
            width: 100%;
            max-width: 40px;
            height: 40px;
            border-radius: 5px;
            background-color: rgba(38, 38, 38, 0.5);
            color: #ffffff; 
            font-family: 'Raleway', sans-serif;
            font-size: 15px;
            font-weight: 700;
            line-height: 15px;
            text-align: center;
            padding-top: 5px;
            margin-left: 5px;
        }
    
        .sixth-section__pictures_text {
            width: 100%;
            max-width: 168px;
            height: 78px;
            color: #ffffff;
            font-family: 'Raleway', sans-serif;
            font-size: 13px;
            font-weight: 700;
            line-height: 15px;
            text-align: left;
            margin-top: 40px;
            margin-left: 5px;
        }
    
        .sixth-section__pictures_author {
            color: #ffffff;
            font-family: 'Raleway', sans-serif;
            font-size: 9px;
            font-weight: 300;
            margin-top: -45px;
            margin-left: 5px;
        }

        .sixth-section__footer {
            color: #ffffff;
            font-family: Raleway;
            font-size: 18px;
            font-weight: 300;
            line-height: 40px;
            text-align: center;
            text-transform: uppercase;
            width: 100%;
            max-width: 150px;
            height: 35px;
            box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
            background-color: #f72b3b;
            padding: 5px;
            margin-left: auto;
            margin-right: auto;
            position: relative;
            top: 40px;
            cursor: pointer;
    
            &:hover {
                background-color: turquoise;
                transform: scale(1.2);
            }
        }
    }
}

@media screen and (max-width: 575px) {
    .sixth-section {
        width: 100%;
        max-width: 575px;
        height: 630px;

        .sixth-section__header {
            h1 {
                color: #ffffff;
                font-family: 'Raleway', sans-serif;
                font-size: 40px;
                font-weight: 700;
                line-height: 25px;
                text-align: center;
                padding-top: 30px;
            }
    
            p {
                width: 100%;
                max-width: 363px;
                height: 66px;
                color: #ffffff;
                font-family: 'Raleway', sans-serif;
                font-size: 12px;
                font-weight: 300;
                line-height: 15px;
                text-align: center;
                margin: 0 auto;
                padding-top: 30px;
            }
    
        }

        .sixth-section__pictures {
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            justify-content: center;
            margin-top: 20px;
        }

        .sixth-section__pictures_apples {
            background-image: url("../img/apples.png");
            background-repeat: no-repeat;
            background-size: 95%;
            margin-left: 0px;
        }
    
        .sixth-section__pictures_peases {
            background-image: url("../img/peases.png");
            background-repeat: no-repeat;
            background-size: 95%;
        }
    
        .sixth-section__pictures_raspberries {
            background-image: url("../img/raspberries.png");
            background-repeat: no-repeat;
            background-size: 95%;
        }

        .sixth-section__pictures_date{
            width: 100%;
            max-width: 40px;
            height: 40px;
            border-radius: 5px;
            background-color: rgba(38, 38, 38, 0.5);
            color: #ffffff; 
            font-family: 'Raleway', sans-serif;
            font-size: 15px;
            font-weight: 700;
            line-height: 15px;
            text-align: center;
            padding-top: 5px;
            margin-left: 5px;
        }
    
        .sixth-section__pictures_text {
            width: 100%;
            max-width: 168px;
            height: 78px;
            color: #ffffff;
            font-family: 'Raleway', sans-serif;
            font-size: 13px;
            font-weight: 700;
            line-height: 15px;
            text-align: left;
            margin-top: 40px;
            margin-left: 5px;
        }
    
        .sixth-section__pictures_author {
            color: #ffffff;
            font-family: 'Raleway', sans-serif;
            font-size: 9px;
            font-weight: 300;
            margin-top: -45px;
            margin-left: 5px;
        }

        .sixth-section__footer {
            color: #ffffff;
            font-family: Raleway;
            font-size: 15px;
            font-weight: 300;
            line-height: 24px;
            text-align: center;
            text-transform: uppercase;
            width: 100%;
            max-width: 100px;
            height: 25px;
            box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
            background-color: #f72b3b;
            padding: 5px;
            margin-left: auto;
            margin-right: auto;
            position: relative;
            top: 20px;
            cursor: pointer;
    
            &:hover {
                background-color: turquoise;
                transform: scale(1.2);
            }
        }
    }
}

@media screen and (max-width: 385px) {
    .sixth-section {
        width: 100%;
        max-width: 385px;
        height: 740px;
    }
}

