.third-section {
    width: 100%;
    max-width: 1500px;
    height: 790px;
    background-color: #70bfff;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;

    .third-section__list {
        margin-top: auto;
        margin-bottom: auto;
        margin-left: 50px;

        p {
            width: 400px;
            height: 100px;
            box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
            background-color: #ffffff;
            color: #262626;
            font-family: Raleway;
            font-size: 20px;
            font-weight: 700;
            margin-top: 20px;

            &:hover {
                transform: scale(1.1);
            }
        }

        .third-section__list_first-list {
            span {
                position: relative;
                bottom: 45px;
                left: 75px;
            }
                
            img {
                position: relative;
                top: 30px;
                left: 160px;
                border-left: 1px solid gray;
                height: 100px;
                position: relative;
                left: 35%;
                padding-left: 20px;
                top: 0;
            }
        }

        .third-section__list_second-list {
            span {
                position: relative;
                bottom: 45px;
                left: 80px;
            }

            img {
                position: relative;
                top: 30px;
                left: 170px; 
                border-left: 1px solid gray;
                height: 100px;
                position: relative;
                left: 37.5%;
                padding-left: 20px;
                top: 0;
            }
        }  

        .third-section__list_third-list {
            span {
                position: relative;
                top: 30px;
                left: 30px;
                display: flex;
                text-align: center;
            }

            img {
                position: relative;
                top: 30px;
                border-left: 1px solid gray;
                height: 100px;
                position: relative;
                left: 75%;
                top: -46.5px;
                padding-left: 20px;
            }
        }

        .third-section__list_fourth-list {
            span  {
                position: relative;
                bottom: 45px;
                left: 80px;
            }

            img {
                position: relative;
                top: 30px;
                left: 175px; 
                border-left: 1px solid gray;
                height: 100px;
                position: relative;
                left: 38.5%;
                padding-left: 20px;
                top: 0;
            }
        }   
    }

    .third-section__bg {
        background-image: url("../img/tomatoes.png");
        background-repeat: no-repeat;
        background-size: 90%;
        width: 562px;
        height: 100%;
        height: 657px;
        position: relative;
        top: 70px;
        left: 50px;

        .third-section__bg_text {
            color: #ffffff;
            font-family: Raleway;
            font-size: 90px;
            width: 100%;
            max-width: 700px;
            font-weight: 700;
            line-height: 27px;
            position: relative;
            top: 290px;
            right: 40px;
        }
    }
}

@media screen and (max-width: 1500px) {
    .third-section {
        width: 100%;
        max-width: 1500px;
    }
}
  
@media screen and (max-width: 1199px) {
    .third-section {
        width: 100%;
        max-width: 1199px;   
        
        .third-section__list {
            margin-left: 10px;
        }
        
    }
        
}
  
@media screen and (max-width: 991px) {
    .third-section {
        width: 100%;
        max-width: 991px;
        height: 650px;


        .third-section__list {
            margin-top: 60px;
            margin-left: 60px;
    
            p {
                width: 300px;
                height: 100px;
                box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
                background-color: #ffffff;
                color: #262626;
                font-family: Raleway;
                font-size: 18px;
                font-weight: 700;
                margin-top: 20px;
    
                &:hover {
                    transform: scale(1.1);
                }
            }
    
            .third-section__list_first-list {
                span {
                    position: relative;
                    bottom: 45px;
                    left: 35px;
                }
                    
                img {
                    position: relative;
                    top: 30px;
                    left: 160px;
                    border-left: 1px solid gray;
                    height: 100px;
                    position: relative;
                    left: 20%;
                    padding-left: 20px;
                    top: 0;
                }
            }
    
            .third-section__list_second-list {
                span {
                    position: relative;
                    bottom: 45px;
                    left: 35px;
                }
    
                img {
                    position: relative;
                    top: 30px;
                    left: 170px; 
                    border-left: 1px solid gray;
                    height: 100px;
                    position: relative;
                    left: 23%;
                    padding-left: 20px;
                    top: 0;
                }
            }  
    
            .third-section__list_third-list {
                span {
                    width: 150px;
                    position: relative;
                    top: 20px;
                    left: 10px;
                    display: flex;
                    text-align: center;
                }
    
                img {
                    position: relative;
                    top: 30px;
                    border-left: 1px solid gray;
                    height: 100px;
                    position: relative;
                    left: 68%;
                    top: -62px;
                    padding-left: 20px;
                }
            }
    
            .third-section__list_fourth-list {
                span  {
                    position: relative;
                    bottom: 45px;
                    left: 35px;
                }
    
                img {
                    position: relative;
                    top: 30px;
                    left: 175px; 
                    border-left: 1px solid gray;
                    height: 100px;
                    position: relative;
                    left: 24%;
                    padding-left: 20px;
                    top: 0;
                }
            }   
        }
    
        .third-section__bg {
            background-image: url("../img/tomatoes.png");
            background-repeat: no-repeat;
            background-size: 85%;
            width: 562px;
            height: 100%;
            height: 657px;
            position: relative;
            top: 70px;
            left: 50px;
    
            .third-section__bg_text {
                color: #ffffff;
                font-family: Raleway;
                font-size: 70px;
                font-weight: 700;
                width: 100%;
                line-height: 57px;
                margin-top: -30px;
                margin-left: 80px;
            }
        }
    }       
}

@media screen and (max-width: 912px) {
    .third-section {
        width: 100%;
        max-width: 912px;
        height: 520px;

        .third-section__list {
            margin-top: 60px;
            margin-left: 100px;
    
            p {
                width: 300px;
                height: 70px;
                box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
                background-color: #ffffff;
                color: #262626;
                font-family: Raleway;
                font-size: 18px;
                font-weight: 700;
                margin-top: 20px;
    
                &:hover {
                    transform: scale(1.1);
                }
            }
    
            .third-section__list_first-list {
                span {
                    position: relative;
                    bottom: 30px;
                    left: 35px;
                }
                    
                img {
                    position: relative;
                    top: 30px;
                    left: 160px;
                    border-left: 1px solid gray;
                    height: 70px;
                    position: relative;
                    left: 20%;
                    padding-left: 20px;
                    top: 0;
                }
            }
    
            .third-section__list_second-list {
                span {
                    position: relative;
                    bottom: 30px;
                    left: 35px;
                }
    
                img {
                    position: relative;
                    top: 30px;
                    left: 170px; 
                    border-left: 1px solid gray;
                    height: 70px;
                    position: relative;
                    left: 23%;
                    padding-left: 20px;
                    top: 0;
                }
            }  
    
            .third-section__list_third-list {
                span {
                    width: 150px;
                    position: relative;
                    top: 5px;
                    left: 10px;
                    display: flex;
                    text-align: center;
                }
    
                img {
                    position: relative;
                    top: 30px;
                    border-left: 1px solid gray;
                    height: 70px;
                    position: relative;
                    left: 68%;
                    top: -62px;
                    padding-left: 20px;
                }
            }
    
            .third-section__list_fourth-list {
                span  {
                    position: relative;
                    bottom: 30px;
                    left: 35px;
                }
    
                img {
                    position: relative;
                    top: 30px;
                    left: 175px; 
                    border-left: 1px solid gray;
                    height: 70px;
                    position: relative;
                    left: 24%;
                    padding-left: 20px;
                    top: 0;
                }
            }   
        }
    
        .third-section__bg {
            background-image: url("../img/tomatoes.png");
            background-repeat: no-repeat;
            background-size: 65%;
            width: 562px;
            height: 657px;
            margin-top: 20px;
            
    
            .third-section__bg_text {
                color: #ffffff;
                font-family: Raleway;
                font-size: 45px;
                font-weight: 700;
                width: 100%;
                line-height: 57px;
                margin-top: -120px;
            }
        }
    }
}

@media screen and (max-width: 890px) {
    .third-section {
        width: 100%;
        max-width: 890px;
        height: 500px;

        .third-section__bg {
            background-image: url("../img/tomatoes.png");
            background-repeat: no-repeat;
            background-size: 63%;
            width: 562px;
            height: 657px;
            margin-top: 20px;
            
    
            .third-section__bg_text {
                color: #ffffff;
                font-family: Raleway;
                font-size: 45px;
                font-weight: 700;
                width: 100%;
                line-height: 57px;
                position: relative;
                right: 60px;
               
            }
        }
    }
}

@media screen and (max-width: 850px) {
    .third-section {
        width: 100%;
        max-width: 850px;
        height: 500px;

        .third-section__bg {
            background-image: url("../img/tomatoes.png");
            background-repeat: no-repeat;
            background-size: 70%;
            width: 562px;
            height: 657px;
            margin-top: 20px;
            
    
            .third-section__bg_text {
                color: #ffffff;
                font-family: Raleway;
                font-size: 40px;
                font-weight: 700;
                width: 100%;
                line-height: 57px;
                position: relative;
                top: 250px;
                right: 60px;
               
            }
        }
    }
}
  
@media screen and (max-width: 767px) {
    .third-section {
        width: 100%;
        max-width: 767px;
        height: 450px;

        .third-section__list {
            margin-top: 50px;
            
    
            p {
                width: 210px;
                height: 70px;
                box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
                background-color: #ffffff;
                color: #262626;
                font-family: Raleway;
                font-size: 16px;
                font-weight: 700;
                margin-top: 10px;
    
                &:hover {
                    transform: scale(1.1);
                }
            }
    
            .third-section__list_first-list {
                span {
                    position: relative;
                    bottom: 25px;
                    left: 10px;
                    
                }
                    
                img {
                    position: relative;
                    top: 30px;
                    right: 20px;
                    border-left: 1px solid gray;
                    height: 70px;
                    position: relative;
                    left: 7%;
                    padding-left: 10px;
                    top: 0;
                }
            }
    
            .third-section__list_second-list {
                span {
                    position: relative;
                    bottom: 25px;
                    left: 10px;
                }
    
                img {
                    position: relative;
                    top: 30px;
                    left: 170px; 
                    border-left: 1px solid gray;
                    height: 70px;
                    position: relative;
                    left: 11%;
                    padding-left: 10px;
                    top: 0;
                }
            }  
    
            .third-section__list_third-list {
                span {
                    width: 150px;
                    position: relative;
                    top: 9px;
                    left: 1px;
                    display: flex;
                    text-align: center;
                }
    
                img {
                    position: relative;
                    top: 30px;
                    border-left: 1px solid gray;
                    height: 70px;
                    position: relative;
                    left: 68%;
                    top: -57.5px;
                    padding-left: 10px;
                }
            }
    
            .third-section__list_fourth-list {
                span  {
                    position: relative;
                    bottom: 25px;
                    left: 10px;
                }
    
                img {
                    position: relative;
                    top: 30px;
                    left: 175px; 
                    border-left: 1px solid gray;
                    height: 70px;
                    position: relative;
                    left: 12%;
                    padding-left: 10px;
                    top: 0;
                }
            }   
        }
    
        .third-section__bg {
            background-image: url("../img/tomatoes.png");
            background-repeat: no-repeat;
            background-size: 70%;
            width: 562px;
            height: 100%;
            height: 657px;
            position: relative;
            top: 40px;
            left: 80px;
            
    
            .third-section__bg_text {
                color: #ffffff;
                font-family: Raleway;
                font-size: 40px;
                font-weight: 700;
                width: 100%;
                line-height: 57px;
                position: relative;
                top: 270px;
                left: -45px;
            }
        }

        
    }           
}  

@media screen and (max-width: 715px) {
    .third-section {
        width: 100%;
        max-width: 715px;

        .third-section__bg {
            background-image: url("../img/tomatoes.png");
            background-repeat: no-repeat;
            background-size: 70%;
            width: 562px;
            height: 100%;
            height: 657px;
            position: relative;
            top: 40px;
            left: 80px;
            
    
            .third-section__bg_text {
                color: #ffffff;
                font-family: Raleway;
                font-size: 40px;
                font-weight: 700;
                width: 100%;
                line-height: 57px;
                position: relative;
                top: 260px;
                left: -65px;
            }
        }
    }

    
}

@media screen and (max-width: 680px) {
    .third-section {
        width: 100%;
        max-width: 680px;

        .third-section__bg {
            background-image: url("../img/tomatoes.png");
            background-repeat: no-repeat;
            background-size: 70%;
            width: 562px;
            height: 100%;
            height: 657px;
            position: relative;
            top: 40px;
            left: 80px;
            
    
            .third-section__bg_text {
                color: #ffffff;
                font-family: Raleway;
                font-size: 35px;
                font-weight: 700;
                width: 100%;
                line-height: 57px;
                position: relative;
                top: 250px;
                left: -55px;
            }
        }
    }

    
}

@media screen and (max-width: 640px) {
    .third-section {
        width: 100%;
        max-width: 640px;

        .third-section__bg {
            background-image: url("../img/tomatoes.png");
            background-repeat: no-repeat;
            background-size: 70%;
            width: 562px;
            height: 100%;
            height: 657px;
            position: relative;
            top: 40px;
            left: 80px;
            
    
            .third-section__bg_text {
                color: #ffffff;
                font-family: Raleway;
                font-size: 35px;
                font-weight: 700;
                width: 100%;
                line-height: 57px;
                position: relative;
                top: 240px;
                left: -75px;
            }
        }
    }

    
}

@media screen and (max-width: 610px) {
    .third-section {
        width: 100%;
        max-width: 610px;
        height: 700px;
        flex-wrap: wrap;

        .third-section__list {
            margin-top: 20px;
            margin: 20px auto;
            
    
            p {
                width: 310px;
                height: 70px;
                box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
                background-color: #ffffff;
                color: #262626;
                font-family: Raleway;
                font-size: 16px;
                font-weight: 700;
                margin-top: 10px;
    
                &:hover {
                    transform: scale(1.1);
                }
            }
    
            .third-section__list_first-list {
                span {
                    position: relative;
                    bottom: 25px;
                    left: 50px;
                    
                }
                    
                img {
                    position: relative;
                    top: 30px;
                    right: 20px;
                    border-left: 1px solid gray;
                    height: 70px;
                    position: relative;
                    left: 35%;
                    padding-left: 10px;
                    top: 0;
                }
            }
    
            .third-section__list_second-list {
                span {
                    position: relative;
                    bottom: 25px;
                    left: 50px;
                }
    
                img {
                    position: relative;
                    top: 30px;
                    left: 170px; 
                    border-left: 1px solid gray;
                    height: 70px;
                    position: relative;
                    left: 37.5%;
                    padding-left: 10px;
                    top: 0;
                }
            }  
    
            .third-section__list_third-list {
                span {
                    width: 150px;
                    position: relative;
                    top: 9px;
                    left: 40px;
                    display: flex;
                    text-align: center;
                }
    
                img {
                    position: relative;
                    top: 30px;
                    border-left: 1px solid gray;
                    height: 70px;
                    position: relative;
                    left: 76.3%;
                    top: -58px;
                    padding-left: 10px;
                }
            }
    
            .third-section__list_fourth-list {
                span  {
                    position: relative;
                    bottom: 25px;
                    left: 50px;
                }
    
                img {
                    position: relative;
                    top: 30px;
                    left: 175px; 
                    border-left: 1px solid gray;
                    height: 70px;
                    position: relative;
                    left: 38.5%;
                    padding-left: 10px;
                    top: 0;
                }
            }   
        }
    
        .third-section__bg {
            background-image: url("../img/tomatoes.png");
            background-repeat: no-repeat;
            background-size: 45%;
            width: 562px;
            height: 100%;
            height: 657px;
            position: relative;
            top: 20px;
            left: 150px;
            
    
            .third-section__bg_text {
                color: #ffffff;
                font-family: Raleway;
                font-size: 35px;
                font-weight: 700;
                width: 100%;
                line-height: 57px;
                position: relative;
                top: 240px;
                left: -55px;
            }
        }
    }

    
}


  
@media screen and (max-width: 495px) {
    .third-section {
        width: 100%;
        max-width: 495px;
        height: 650px;
        flex-wrap: wrap;

        .third-section__list {
            margin-top: 20px;
            margin: 20px auto;
            
    
            p {
                width: 310px;
                height: 70px;
                box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
                background-color: #ffffff;
                color: #262626;
                font-family: Raleway;
                font-size: 16px;
                font-weight: 700;
                margin-top: 10px;
    
                &:hover {
                    transform: scale(1.1);
                }
            }
    
            .third-section__list_first-list {
                span {
                    position: relative;
                    bottom: 25px;
                    left: 50px;
                    
                }
                    
                img {
                    position: relative;
                    top: 30px;
                    right: 20px;
                    border-left: 1px solid gray;
                    height: 70px;
                    position: relative;
                    left: 35%;
                    padding-left: 10px;
                    top: 0;
                }
            }
    
            .third-section__list_second-list {
                span {
                    position: relative;
                    bottom: 25px;
                    left: 50px;
                }
    
                img {
                    position: relative;
                    top: 30px;
                    left: 170px; 
                    border-left: 1px solid gray;
                    height: 70px;
                    position: relative;
                    left: 37.5%;
                    padding-left: 10px;
                    top: 0;
                }
            }  
    
            .third-section__list_third-list {
                span {
                    width: 150px;
                    position: relative;
                    top: 9px;
                    left: 40px;
                    display: flex;
                    text-align: center;
                }
    
                img {
                    position: relative;
                    top: 30px;
                    border-left: 1px solid gray;
                    height: 70px;
                    position: relative;
                    left: 76.3%;
                    top: -58px;
                    padding-left: 10px;
                }
            }
    
            .third-section__list_fourth-list {
                span  {
                    position: relative;
                    bottom: 25px;
                    left: 50px;
                }
    
                img {
                    position: relative;
                    top: 30px;
                    left: 175px; 
                    border-left: 1px solid gray;
                    height: 70px;
                    position: relative;
                    left: 38.5%;
                    padding-left: 10px;
                    top: 0;
                }
            }   
        }
    
        .third-section__bg {
            background-image: url("../img/tomatoes.png");
            background-repeat: no-repeat;
            background-size: 45%;
            width: 562px;
            height: 100%;
            height: 657px;
            position: relative;
            top: 20px;
            left: 140px;
            
    
            .third-section__bg_text {
                color: #ffffff;
                font-family: Raleway;
                font-size: 35px;
                font-weight: 700;
                width: 100%;
                line-height: 57px;
                position: relative;
                top: 230px;
                left: -75px;
            }
        }
    }
}

@media screen and (max-width: 440px) {
    .third-section {
        width: 100%;
        max-width: 440px;
        height: 650px;
        flex-wrap: wrap;

        .third-section__list {
            margin-top: 20px;
            margin: 20px auto;
            
    
            p {
                width: 310px;
                height: 70px;
                box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
                background-color: #ffffff;
                color: #262626;
                font-family: Raleway;
                font-size: 16px;
                font-weight: 700;
                margin-top: 10px;
    
                &:hover {
                    transform: scale(1.1);
                }
            }
    
            .third-section__list_first-list {
                span {
                    position: relative;
                    bottom: 25px;
                    left: 50px;
                    
                }
                    
                img {
                    position: relative;
                    top: 30px;
                    right: 20px;
                    border-left: 1px solid gray;
                    height: 70px;
                    position: relative;
                    left: 35%;
                    padding-left: 10px;
                    top: 0;
                }
            }
    
            .third-section__list_second-list {
                span {
                    position: relative;
                    bottom: 25px;
                    left: 50px;
                }
    
                img {
                    position: relative;
                    top: 30px;
                    left: 170px; 
                    border-left: 1px solid gray;
                    height: 70px;
                    position: relative;
                    left: 37.5%;
                    padding-left: 10px;
                    top: 0;
                }
            }  
    
            .third-section__list_third-list {
                span {
                    width: 150px;
                    position: relative;
                    top: 9px;
                    left: 40px;
                    display: flex;
                    text-align: center;
                }
    
                img {
                    position: relative;
                    top: 30px;
                    border-left: 1px solid gray;
                    height: 70px;
                    position: relative;
                    left: 76.3%;
                    top: -58px;
                    padding-left: 10px;
                }
            }
    
            .third-section__list_fourth-list {
                span  {
                    position: relative;
                    bottom: 25px;
                    left: 50px;
                }
    
                img {
                    position: relative;
                    top: 30px;
                    left: 175px; 
                    border-left: 1px solid gray;
                    height: 70px;
                    position: relative;
                    left: 38.5%;
                    padding-left: 10px;
                    top: 0;
                }
            }   
        }
    
        .third-section__bg {
            background-image: url("../img/tomatoes.png");
            background-repeat: no-repeat;
            background-size: 45%;
            width: 562px;
            height: 100%;
            height: 657px;
            position: relative;
            top: 20px;
            left: 130px;
            
    
            .third-section__bg_text {
                color: #ffffff;
                font-family: Raleway;
                font-size: 30px;
                font-weight: 700;
                width: 100%;
                line-height: 57px;
                position: relative;
                top: 220px;
                left: -75px;
            }
        }
    }
}

@media screen and (max-width: 400px) {
    .third-section {
        width: 100%;
        max-width: 500px;
        height: 650px;
        flex-wrap: wrap;

        .third-section__bg {
            background-image: url("../img/tomatoes.png");
            background-repeat: no-repeat;
            background-size: 45%;
            width: 562px;
            height: 100%;
            height: 657px;
            position: relative;
            top: 50px;
            left: 105px;
            
    
            .third-section__bg_text {
                color: #ffffff;
                font-family: Raleway;
                font-size: 30px;
                font-weight: 700;
                width: 100%;
                line-height: 57px;
                margin-left: 55px;
                margin-top: -290px;

            }
        }
    }
}